.section-header
  %ol.breadcrumb
    %li
      Administración de #{ComPago::PLURAL}
    %li.active
      Registrando #{ComPago::SINGULAR} a #{@com_pago.com_compra.title}
.section-body
  .card
    .card-head.style-primary
      .tools
        = link_to com_pagos_path(com_compra_id: @com_pago.com_compra.id), class: 'btn btn-flat' do
          %i.glyphicon.glyphicon-arrow-left
          Regresar a lista
    .card-body
      = render 'form'