.section-header
  %ol.breadcrumb
    %li.active
      Administración de #{EmpProveedor::PLURAL}
.section-body
  .card
    .card-head.style-primary
      .tools.pull-left
        = smart_listing_controls_for :emp_proveedor, {class: 'navbar-search'} do
          .form-group
            = text_field_tag :search, '', class: 'form-control', placeholder: 'Buscar...', autocomplete: :off
          %button.btn.btn-icon-toggle.ink-reaction{type: :submit}
            %i.fa.fa-search
      .tools
        = link_to new_emp_proveedor_path, class: 'btn btn-floating-action btn-default-light' do
          %i.fa.fa-plus
    .card-body
      = smart_listing_render :emp_proveedor