.section-header
  %ol.breadcrumb
    %li.active
      Administración de #{<%= singular_table_name.camelize %>::PLURAL}
.section-body
  .card
    .card-head.style-primary
      .tools
        = link_to new_<%= singular_table_name %>_path, class: 'btn btn-floating-action btn-default-light' do
          %i.fa.fa-plus
    .card-body
      %table.table.table-striped.table-condensed.dt
        %thead
          %tr <%- attributes.each do |attribute| -%>
            %th <%= attribute.human_name %> <%- end -%>
            %th
        %tbody
          - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
            %tr <%- attributes.each do |attribute| -%>
              %td= <%= singular_table_name %>.<%= attribute.name %> <%- end -%>
              %td.actions
                = link_to <%= singular_table_name %>, class: 'btn btn-success btn-xs' do
                  %i.fa.fa-eye
                = link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-info btn-xs' do
                  %i.fa.fa-pencil
                = link_to <%= singular_table_name %>, method: :delete, data: { confirm: '¿Esta usted seguro?' }, class: 'btn btn-danger btn-xs' do
                  %i.fa.fa-times
