- unless smart_listing.empty?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th= smart_listing.sortable 'Nombre', :nombre
          %th= smart_listing.sortable 'Apellidos', :apellidos
          %th= smart_listing.sortable 'Saldo', :saldo
          %th= smart_listing.sortable 'Saldo max', :saldo_max
          %th= smart_listing.sortable 'Tel. móvil', :tel_movil
          %th= smart_listing.sortable 'Tel. fijo', :tel_fijo
          %th= smart_listing.sortable 'Email', :email
          %th= smart_listing.sortable 'Creado', :created_at
          %th= smart_listing.sortable 'Actualizado', :updated_at
          %th
      %tbody
        - @emp_clientes.each do |emp_cliente|
          %tr
            %td= emp_cliente.nombre
            %td= emp_cliente.apellidos
            %td= number_to_currency emp_cliente.saldo
            %td= number_to_currency emp_cliente.saldo_max
            %td= emp_cliente.emp_perfil.tel_movil
            %td= emp_cliente.emp_perfil.tel_fijo
            %td= emp_cliente.emp_perfil.email
            %th= emp_cliente.created_at.strftime '%Y %m %d'
            %th= emp_cliente.updated_at.strftime '%Y %m %d'
            %td.actions
              = link_to emp_cliente, class: 'btn btn-success btn-xs' do
                %i.fa.fa-eye
              = link_to edit_emp_cliente_path(emp_cliente), class: 'btn btn-info btn-xs' do
                %i.fa.fa-edit
              = link_to emp_cliente, method: :delete, data: { confirm: '¿Esta usted seguro?' }, class: 'btn btn-danger btn-xs' do
                %i.fa.fa-times

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning Ningún dato disponible para mostrar