.section-header
  %ol.breadcrumb
    %li
      Administración de #{EmpCliente::PLURAL}
    %li
      Editar
    %li.active
      #{@emp_cliente.title}
.section-body
  .card
    .card-head.style-primary
      .tools
        = link_to emp_clientes_path, class: 'btn btn-flat' do
          %i.glyphicon.glyphicon-arrow-left
          Regresar a lista
        = link_to @emp_cliente, class: 'btn btn-flat' do
          %i.fa.fa-eye
          Ver
    .card-body
      = render 'form'