/ Tarjetas de informacion top
.section-body
  .row
    .col-md-3.col-sm-6
      .card
        .card-body.no-padding
          .alert.alert-callout.alert-danger.no-margin
            %h1.pull-right.text-danger
              %i.md.md-trending-up
            %strong.text-xl= number_to_currency(@egresos_mes)
            %br/
            %span.opacity-50 Egresos este mes (MXN)
    .col-md-3.col-sm-6
      .card
        .card-body.no-padding
          .alert.alert-callout.alert-success.no-margin
            %h1.pull-right.text-success
              %i.md.md-trending-down
            %strong.text-xl= number_to_currency(@ingresos_mes)
            %br/
            %span.opacity-50 Ingresos este mes (MXN)
    .col-md-3.col-sm-6
      .card
        .card-body.no-padding
          .alert.alert-callout.alert-info.no-margin
            %h1.pull-right.text-info
              %i.fa.fa-shopping-cart
            %strong.text-xl= @compras_pendientes
            %br/
            %span.opacity-50 Compras pendientes de pago              
    .col-md-3.col-sm-6
      .card
        .card-body.no-padding
          .alert.alert-callout.alert-warning.no-margin
            %h1.pull-right.text-warning
              %i.fa.fa-users
            %strong.text-xl= @usuarios_activos
            %br/
            %span.opacity-50 Usuarios activos

/ Grafica de movimientos
%script
  window.mov_ingreso_mxn = #{raw(@movimientos_mxn_mes.to_json)}
.row
  .col-md-12
    .card
      .row
        .col-md-8
          .card-head
            %header Movimientos de ingreso este mes
          .card-body.height-8
            #flot-visitors-legend.flot-legend-horizontal.stick-top-right.no-y-padding
            #flot-visitors.flot.height-7{"data-color" => "#8FC0FF,#0D78FF,#094DA3", "data-title" => "Activity entry"}
        .col-md-4
          .card-head
            %header Deudas más grandes
          .card-body.height-8
            %strong 214
            members
            %span.pull-right.text-success.text-sm
              0,18%
              %i.md.md-trending-up
            .progress.progress-hairline
              .progress-bar.progress-bar-primary-dark{:style => "width:43%"}
            756 pageviews
            %span.pull-right.text-success.text-sm
              0,68%
              %i.md.md-trending-up
            .progress.progress-hairline
              .progress-bar.progress-bar-primary-dark{:style => "width:11%"}
            291 bounce rates
            %span.pull-right.text-danger.text-sm
              21,08%
              %i.md.md-trending-down
            .progress.progress-hairline
              .progress-bar.progress-bar-danger{:style => "width:93%"}
            32,301 visits
            %span.pull-right.text-success.text-sm
              0,18%
              %i.md.md-trending-up
            .progress.progress-hairline
              .progress-bar.progress-bar-primary-dark{:style => "width:63%"}
            132 pages
            %span.pull-right.text-success.text-sm
              0,18%
              %i.md.md-trending-up
            .progress.progress-hairline
              .progress-bar.progress-bar-primary-dark{:style => "width:47%"}
