.section-header
  %ol.breadcrumb
    %li
      Administración de #{ComCompra::PLURAL}
    %li
      Editar
    %li.active
      #{@com_compra.title}
.section-body
  .card
    .card-head.style-primary
      .tools
        = link_to com_compras_path, class: 'btn btn-flat' do
          %i.glyphicon.glyphicon-arrow-left
          Regresar a lista
        = link_to @com_compra, class: 'btn btn-flat' do
          %i.fa.fa-eye
          Ver
        = link_to com_pagos_path(com_compra_id: @com_compra.id), class: 'btn btn-flat' do
          %i.fa.fa-dollar
          Pagar
    .card-body
      = render 'form'