.section-header
  %ol.breadcrumb
    %li.active
      Administración de #{ComCompra::PLURAL}
.section-body
  .row
    .col-md-3.col-sm-6
      .card
        .card-body.no-padding
          .alert.alert-callout.alert-success.no-margin
            %h1.pull-right.text-success
              %i.fa.fa-shopping-cart
            %strong.text-xl#dt-pendientes 0
            %br/
            %span.opacity-50 Pendientes de pago

    .col-md-3.col-sm-6
      .card
        .card-body.no-padding
          .alert.alert-callout.alert-warning.no-margin
            %strong.pull-right.text-success.text-lg
              MXN
            %strong.text-xl#dt-deudamxn $ 0
            %br/
            %span.opacity-50 De deuda
            .stick-bottom-left-right
              .height-2.sparkline-revenue{"data-line-color" => "#bdc1c1"}
                %canvas{:height => "80", :style => "display: inline-block; width: 268px; height: 80px; vertical-align: top;", :width => "268"}

    .col-md-3.col-sm-6
      .card
        .card-body.no-padding
          .alert.alert-callout.alert-danger.no-margin
            %strong.pull-right.text-success.text-lg
              USD
            %strong.text-xl#dt-deudausd $ 0
            %br/
            %span.opacity-50 De deuda
            .stick-bottom-left-right
              .height-2.sparkline-revenue{"data-line-color" => "#bdc1c1"}
                %canvas{:height => "80", :style => "display: inline-block; width: 268px; height: 80px; vertical-align: top;", :width => "268"}

    .col-md-3.col-sm-6
      .card
        .card-body.no-padding
          .alert.alert-callout.alert-info.no-margin
            %strong.pull-right.text-success.text-lg
              EUR
            %strong.text-xl#dt-deudaeur $ 0
            %br/
            %span.opacity-50 De deuda
            .stick-bottom-left-right
              .height-2.sparkline-revenue{"data-line-color" => "#bdc1c1"}
                %canvas{:height => "80", :style => "display: inline-block; width: 268px; height: 80px; vertical-align: top;", :width => "268"}

.section-body
  .card
    .card-head.style-primary
      .tools
        = link_to new_com_compra_path, class: 'btn btn-floating-action btn-default-light' do
          %i.fa.fa-plus
    .card-body
      .table-responsive
        %table.table.table-striped.table-hover.dataTable
          %thead
            %tr
              %th Fecha
              %th Estado
              %th Ciclo
              %th Proveedor
              %th Clasificacion
              %th Fecha
              %th Factura
              %th Total MXN
              %th Anticipo MXN
              %th Saldo MXN
              %th Total USD
              %th Anticipo USD
              %th Saldo USD
              %th Total EUR
              %th Anticipo EUR
              %th Saldo EUR
              %th
          %tbody
            - @com_compras.each do |com_compra|
              %tr
                %td= com_compra.created_at.strftime('%Y-%m-%d %H:%M:%S')
                %td= com_compra.estado.upcase
                %td= com_compra.ciclo
                %td= com_compra.emp_proveedor.title
                %td= com_compra.emp_clasificacion.title
                %td= com_compra.fecha
                %td= com_compra.factura
                %td= number_to_currency com_compra.adeudos['MXN'][:total]
                %td= number_to_currency (com_compra.adeudos['MXN'][:total]-com_compra.adeudos['MXN'][:deuda])
                %td= number_to_currency com_compra.adeudos['MXN'][:deuda]
                %td= number_to_currency com_compra.adeudos['USD'][:total]
                %td= number_to_currency (com_compra.adeudos['USD'][:total]-com_compra.adeudos['USD'][:deuda])
                %td= number_to_currency com_compra.adeudos['USD'][:deuda]
                %td= number_to_currency com_compra.adeudos['EUR'][:total]
                %td= number_to_currency (com_compra.adeudos['EUR'][:total]-com_compra.adeudos['EUR'][:deuda])
                %td= number_to_currency com_compra.adeudos['EUR'][:deuda]
                %td.actions
                  = link_to com_pagos_path(com_compra_id: com_compra.id), class: 'btn btn-primary btn-xs' do
                    %i.fa.fa-dollar
                  = link_to com_compra, class: 'btn btn-success btn-xs' do
                    %i.fa.fa-eye
                  = link_to edit_com_compra_path(com_compra), class: 'btn btn-info btn-xs' do
                    %i.fa.fa-edit
                  = link_to com_compra, method: :delete, data: { confirm: '¿Esta usted seguro?' }, class: 'btn btn-danger btn-xs' do
                    %i.fa.fa-times
