.section-header
  %ol.breadcrumb
    %li
      Administración de #{ComPago::PLURAL}
    %li.active
      Pago múltiple
.section-body
  .card
    .card-head.style-primary
      .tools
        = link_to com_compras_url, class: 'btn btn-flat' do
          %i.glyphicon.glyphicon-arrow-left
          Regresar a lista
    .card-body
      %h3 Pago múltiple
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Fecha
            %th Proveedor
            %th Clasificacion
            %th Factura
            %th Saldo MXN
            %th Saldo USD
            %th Saldo EUR
        %tbody
          - @ids.each do |com_compra|
            %tr
              %td= com_compra.created_at.strftime('%Y-%m-%d %H:%M:%S')
              %td= com_compra.emp_proveedor.title
              %td= com_compra.emp_clasificacion.title
              %td= com_compra.factura
              %td= number_to_currency com_compra.adeudos['MXN'][:deuda]
              %td= number_to_currency com_compra.adeudos['USD'][:deuda]
              %td= number_to_currency com_compra.adeudos['EUR'][:deuda]
      %hr

      = simple_form_for(@com_pago) do |f|
        .alert.alert-info
          %h4 Información
          %ul
            %li Todos los campos con * son requeridos
        = f.error_notification

        .form-inputs.row
          .col-md-12
            = f.hidden_field :com_compra_id
            = f.hidden_field :mov_movimiento_id
          .col-md-4
            = f.input :tipo_pago, collection: ComPago.tipo_pagos.keys, prompt: '-- Selecciona --'
          .col-md-4
            = f.association :emp_cuentab, label: EmpCuentab::SINGULAR, prompt: '-- Selecciona --'
          .col-md-2
            = f.input :hoja
          .col-md-10
            = f.input :concepto

        .card-actionbar
          .card-actionbar-row
            = button_tag(type: :submit, class: 'btn btn-flat btn-primary ink-reaction') do
              %i.fa.fa-check
              Guardar