.section-header
  %ol.breadcrumb
    %li
      Administración de #{ComPago::PLURAL}
    %li.active
      Pago múltiple
.section-body
  .card
    .card-head.style-primary
      .tools
        = link_to com_compras_url, class: 'btn btn-flat' do
          %i.glyphicon.glyphicon-arrow-left
          Regresar a lista
    .card-body
      %h3 Pago múltiple
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Fecha
            %th Proveedor
            %th Clasificacion
            %th Factura
            %th Saldo MXN
            %th Saldo USD
            %th Saldo EUR
        %tbody
          - @ids.each do |com_compra|
            %tr
              %td= com_compra.created_at.strftime('%Y-%m-%d %H:%M:%S')
              %td= com_compra.emp_proveedor.title
              %td= com_compra.emp_clasificacion.title
              %td= com_compra.factura
              %td= number_to_currency com_compra.adeudos['MXN'][:deuda]
              %td= number_to_currency com_compra.adeudos['USD'][:deuda]
              %td= number_to_currency com_compra.adeudos['EUR'][:deuda]
          %tr
            %td.text-right{colspan: 4}
              %b Totales:
            %td
              %b= number_to_currency @ids.map(){|a| a.adeudos['MXN'][:deuda]}.sum
            %td
              %b= number_to_currency @ids.map(){|a| a.adeudos['USD'][:deuda]}.sum
            %td
              %b= number_to_currency @ids.map(){|a| a.adeudos['EUR'][:deuda]}.sum
      %hr

      = form_tag(guardar_com_compras_pagar_path) do
        = hidden_field_tag :ids, params[:ids]
        .alert.alert-info
          %h4 Información
          %ul
            %li Todos los campos con * son requeridos

        - if @ids.map(){|a| a.adeudos['MXN'][:deuda]}.sum > 0
          .row
            .col-md-1
              %h4 MXN
            .col-md-2
              .form-group.required
                = label_tag :mxn_hoja, '* Hoja', {class: 'control-label'}
                = text_field_tag :mxn_hoja, nil, {class: 'form-control', required: true}
            .col-md-3
              .form-group.required
                = label_tag :mxn_tipo_pago, '* Tipo de pago', {class: 'control-label'}
                = select_tag :mxn_tipo_pago, options_for_select(ComPago.tipo_pagos), {class: 'form-control', required: true}
            .col-md-3
              .form-group.required
                = label_tag :mxn_emp_cuentab, "* #{EmpCuentab::SINGULAR}", {class: 'control-label'}
                = select_tag :mxn_emp_cuentab, options_for_select(EmpCuentab.cuentas_array(:MXN)), {class: 'form-control', required: true}

        - if @ids.map(){|a| a.adeudos['USD'][:deuda]}.sum > 0
          .row
            .col-md-1
              %h4 USD
            .col-md-2
              .form-group.required
                = label_tag :usd_hoja, '* Hoja', {class: 'control-label'}
                = text_field_tag :usd_hoja, nil, {class: 'form-control', required: true}
            .col-md-3
              .form-group.required
                = label_tag :usd_tipo_pago, '* Tipo de pago', {class: 'control-label'}
                = select_tag :usd_tipo_pago, options_for_select(ComPago.tipo_pagos), {class: 'form-control', required: true}
            .col-md-3
              .form-group.required
                = label_tag :usd_emp_cuentab, "* #{EmpCuentab::SINGULAR}", {class: 'control-label'}
                = select_tag :usd_emp_cuentab, options_for_select(EmpCuentab.cuentas_array(:USD)), {class: 'form-control', required: true}

        - if @ids.map(){|a| a.adeudos['EUR'][:deuda]}.sum > 0
          .row
            .col-md-1
              %h4 EUR
            .col-md-2
              .form-group.required
                = label_tag :eur_hoja, '* Hoja', {class: 'control-label'}
                = text_field_tag :eur_hoja, nil, {class: 'form-control', required: true}
            .col-md-3
              .form-group.required
                = label_tag :eur_tipo_pago, '* Tipo de pago', {class: 'control-label'}
                = select_tag :eur_tipo_pago, options_for_select(ComPago.tipo_pagos), {class: 'form-control', required: true}
            .col-md-3
              .form-group.required
                = label_tag :eur_emp_cuentab, "* #{EmpCuentab::SINGULAR}", {class: 'control-label'}
                = select_tag :eur_emp_cuentab, options_for_select(EmpCuentab.cuentas_array(:EUR)), {class: 'form-control', required: true}

        .card-actionbar
          .card-actionbar-row
            = button_tag(type: :submit, class: 'btn btn-flat btn-primary ink-reaction') do
              %i.fa.fa-check
              Guardar