/ BEGIN MENUBAR
#menubar.menubar-inverse.animate
  .menubar-fixed-panel
    %div
      %a.btn.btn-icon-toggle.btn-default.menubar-toggle{'data-toggle' => 'menubar', :href => 'javascript:void(0);'}
        %i.fa.fa-bars
    .expanded
      %a{:href => '#'}
        %span.text-lg.text-bold.text-primary ROHERS
  .nano.has-scrollbar{:style => 'height: 560px;'}
    .nano-content{:style => 'right: -15px;', :tabindex => '0'}
      .menubar-scroll-panel{:style => 'padding-bottom: 33px;'}
        / BEGIN MAIN MENU
        %ul#main-menu.gui-controls
          / BEGIN DASHBOARD
          %li
            = link_to root_url, {} do
              .gui-icon
                %i.md.md-home
              %span.title Panel
          %li.gui-folder
            %a
              .gui-icon
                %i.md.fa.fa-building
              %span.title Empresa
            %ul
              - if can? :read, EmpLocacion
                %li
                  = link_to emp_locacions_url, {} do
                    %span.title Departamentos
              - if can? :read, EmpClasificacion
                %li
                  = link_to emp_clasificacions_url, {} do
                    %span.title Clasif. contable
              - if current_user.admin?
                %li
                  = link_to empleados_url, {} do
                    %span.title Empleados
          - if can? :read, MovMovimiento
            %li.gui-folder
              %a
                .gui-icon
                  %i.md.fa.fa-retweet
                %span.title Movimientos
              %ul
                - if can? :create, MovMovimiento
                  %li
                    = link_to new_mov_movimiento_url(type: 'ingreso'), {} do
                      %span.title Agregar entrada
                - if can? :create, MovMovimiento
                  %li
                    = link_to new_mov_movimiento_url(type: 'egreso'), {} do
                      %span.title Agregar salida
                - if can? :read, MovMovimiento
                  %li
                    = link_to mov_movimientos_url, {} do
                      %span.title Historial
          - if can? :read, EmpCliente
            %li.gui-folder
              %a
                .gui-icon
                  %i.md.fa.fa-users
                %span.title Clientes
              %ul
                - if can? :create, EmpCliente
                  %li
                    = link_to new_emp_cliente_url, {} do
                      %span.title Agregar cliente
                - if can? :read, EmpCliente
                  %li
                    = link_to emp_clientes_url, {} do
                      %span.title Lista de clientes
          - if can? :read, EmpProveedor
            %li.gui-folder
              %a
                .gui-icon
                  %i.md.fa.fa-handshake
                %span.title Proveedores
              %ul
                - if can? :create, EmpProveedor
                  %li
                    = link_to new_emp_proveedor_url, {} do
                      %span.title Agregar proveedor
                - if can? :read, EmpProveedor
                  %li
                    = link_to emp_proveedors_url, {} do
                      %span.title Lista de proveedores
          - if can? :read, ComArticulo
            %li.gui-folder
              %a
                .gui-icon
                  %i.md.fa.fa-shopping-bag
                %span.title Inventario
              %ul
                - if can? :create, ComArticulo
                  %li
                    = link_to new_com_articulo_url, {} do
                      %span.title Nuevo artículo
                - if can? :read, ComArticulo
                  %li
                    = link_to com_articulos_url, {} do
                      %span.title Lista de artículos
          - if can? :read, ComCompra
            %li.gui-folder
              %a
                .gui-icon
                  %i.md.fa.fa-shopping-cart
                %span.title Compras
              %ul
                - if can? :create, ComCompra
                  %li
                    = link_to new_com_compra_url, {} do
                      %span.title Agregar compra
                - if can? :read, ComCompra
                  %li
                    = link_to com_compras_url, {} do
                      %span.title Lista de compras
          - if can? :read, EmpCuentab
            %li.gui-folder
              %a
                .gui-icon
                  %i.md.fa.fa-money-bill-alt
                %span.title Banco
              %ul
                - if can? :create, EmpCuentab
                  %li
                    = link_to new_emp_cuentab_url, {} do
                      %span.title Agregar cuenta
                - if can? :read, EmpCuentab
                  %li
                    = link_to emp_cuentabs_url, {} do
                      %span.title Lista de cuentas
        .menubar-foot-panel
          %small.no-linebreak.hidden-folded
            %span.opacity-75 Copyright ©
            = Time.now.year
            %strong Rohers S.A. de C.V.
    .nano-pane{:style => 'display: none;'}
      .nano-slider{:style => 'height: 545px; transform: translate(0px, 0px);'}
