/ BEGIN HEADER
%header#header
  .headerbar
    / Brand and toggle get grouped for better mobile display
    .headerbar-left
      %ul.header-nav.header-nav-options
        %li.header-nav-brand
          .brand-holder
            %a#home-path{:href => root_path}
              %span.text-lg.text-bold.text-primary ROHERS
        %li
          %a.btn.btn-icon-toggle.menubar-toggle{'data-toggle' => 'menubar', :href => 'javascript:void(0);'}
            %i.fa.fa-bars
    / Collect the nav links, forms, and other content for toggling
    .headerbar-right
      %ul.header-nav.header-nav-options
        
      %ul.header-nav.header-nav-profile
        %li.dropdown
          %a.dropdown-toggle.ink-reaction{'aria-expanded' => 'false', 'data-toggle' => 'dropdown', :href => 'javascript:void(0);'}
            %img{:alt => '', :src => '#/assets/img/modules/materialadmin/avatar1.jpg?1422538623'}/
            = image_tag 'avatars/avatar.png'
            %span.profile-info
              = current_user.nombre.titleize
              %small= current_user.role.capitalize
          %ul.dropdown-menu.animation-dock
            %li.dropdown-header Configuración
            %li
              = link_to 'Mi Perfil', edit_empleado_path(current_user)
            %li.divider
            %li
              = link_to destroy_user_session_path, {method: :delete} do
                %i.fa.fa-fw.fa-power-off.text-danger
                Salir
