!!!
%html
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    %title Rohers
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body#panel{style: "background: url(#{image_url('bg/rohers_background.jpg')})"}
    %section.section-account
      .spacer
      .row
        .col-md-4.col-md-push-4.text-center
          .card.contain-sm
            .card-body
              %h1 ROHERS
              = yield

  %script
    $('#user_email, #user_password').addClass('form-control');
    $('input[type="submit"]').addClass('btn btn-primary');
